
<link rel="stylesheet" type="text/css" href="all.css" />
<h1>안녕하세요 {{#each sname}}<span>{{s_name}}</span>{{/each}} 관리자님의 차량 관리페이지입니다.         
<button style="margin:1% ;" onclick="location.href = 'http://localhost:3000/logout'">로그아웃</button>
</h1>
<table>
    본인께서 판매하신 차량 내역입니다.
    <div class="sold"><tr>
        <td>판매번호</td>
        <td>차대번호</td>
        <td>딜러번호</td>
        <td>고객번호</td>
        <td>판매날짜</td>
    </tr></class>
    {{#each soldcar}}
    <tr>
        <td>{{salenum}}</td>
        <td>{{s_vin}}</td>
        <td>{{ss_ssn}}</td>
        <td>{{sc_ssn}}</td>
        <td>{{s_date}}</td>
    </tr>
    {{/each}}
</table>
<table>
    <h1>판매완료 및 예약 취소하기</h1>
<button onclick="location.href = 'http://localhost:3000/sale'">차량 판매/예약취소하기</button>
</table>
<table>
    <h1>차량 등록하기</h1>
     <div class="insertcar">
        <tr>
            <td>차대번호</td>
            <td>모델명</td>
            <td>색상</td>
            <td>생산연도</td>
            <td>가격($)</td>
            <td>분류</td>
            <td>등록</td>
        </tr>
            <form method="post" action="/admin/insert">
                <tr>
                <td><input id="vin" type="text" name="vin" required ="required"></td>
                <td><input id="model" type="text" name="model" required ="required"></td>
                <td><input id="color" type="text" name="color" required ="required"></td>
                <td><input id="productionyear" type="text" name="productionyear" required ="required"></td>
                <td><input id="price" type="text" name="price" required ="required"></td>
                <td><input id="category" type="text" name="category" required ="required"></td>
                <td><input type="submit" value="등록" formaction="/admin/insert"></td>
                </tr>
            </form>
        </class>
</table>
<table>
    <h1>DB에서 수정할 내용을 입력 후 수정하기를 누르거나 삭제할 차량을 선택하세요</h1>
    <h3>보고싶은 차량페이지(50개씩 출력)를 입력하시오
        <form method="get" action="/admin">
        <input id="page" type="number" name="page"placeholder='0~1999' min="0" max="1999">
        <input type="submit" value="확인">
        </form>
    </h3>
    <div class="update">
            <tr>
            <td>차대번호</td>
            <td>모델명</td>
            <td>색상</td>
            <td>생산연도</td>
            <td>가격($)</td>
            <td>분류</td>
            <td>삭제</td>
            </tr>
         {{#each allcar}}
         <tr>
            <form method="post" action="/admin">
                <td><input id="vin" type="text" name="vin"  placeholder={{vin}}>
                <button name='update' value="{{vin}}"formaction="/admin/update/vin/{{vin}}">수정</button></td>
                <td><input id="model" type="text" name="model"  placeholder={{model}}>
                <button name='update' value="{{model}}"formaction="/admin/update/model/{{vin}}">수정</button></td>
                <td><input id="color" type="text" name="color" placeholder={{color}}>
                <button name='update' value="{{color}}"formaction="/admin/update/color/{{vin}}">수정</button></td>
                <td><input id="productionyear" type="text" name="productionyear"  placeholder={{productionyear}}>
                <button name='update' value="{{productionyear}}"formaction="/admin/update/productionyear/{{vin}}">수정</button></td>
                <td><input id="price" type="text" name="price"  placeholder={{price}}>
                <button name='update' value="{{price}}"formaction="/admin/update/price/{{price}}">수정</button></td>
                <td><input id="category" type="text" name="category" placeholder={{category}}>
                <button name='update' value="{{category}}"formaction="/admin/update/category/{{vin}}">수정</button></td>
                <td><button name='delete' value="{{vin}}"formaction="/admin/delete/{{vin}}">삭제하기</button></td>
            </form>
        </tr>
     {{/each}}
</table>


