
<link rel="stylesheet" type="text/css" href="customer.css" />
<h1>안녕하세요{{#each userinfo}}<span> {{c_name}}</span>{{/each}} 고객님의 예약/구매 가능차량 조회 페이지입니다.</h1>
<h1>{{title1}}</h1>
<table>
    <div class="availablecar"> <tr>
        <td>차대번호</td>
        <td>모델명</td>
        <td>색상</td>
        <td>생산연도</td>
        <td>가격($)</td>
        <td>분류</td>
    </tr>
   
    {{#each availablecars}}
    <tr>
        <td>{{vin}}</td>
        <td>{{model}}</td>
        <td>{{{color}}}</td>
        <td>{{productionyear}}</td>
        <td>{{price}}</td>
        <td>{{category}}</td>
    </tr>
    {{/each}}
    </class>
</table>
        <button onclick="location.href = 'http://localhost:3000/reserve'">차량 예약/취소하기</button>
        <button onclick="location.href = 'http://localhost:3000/sale'">차량 구매/취소하기</button>

</div>
